@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    // height: 280px;
    margin-bottom: 64px;
    padding: 16px 24px;
    border: 2px solid $font_color;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;

    @include mq_max(sm) {
        padding: 16px;
    }
}

.thumb {
    width: 40%;
    height: 100%;
    overflow: hidden;

    @include mq_max(md) {
        width: 100%;
    }
}

.info {
    width: 60%;
    padding: 16px 24px;
    
    @include mq_max(md) {
        width: 100%;
        padding: 16px 0;
    }
}

.title {
    padding-bottom: 16px;
}

.abstruct {
    max-height: 200px;
    overflow: scroll;
}

.date {
    padding-top: 16px;
    font-size: 1.8rem;
}