@import '../../styles/colors.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    // height: 280px;
    margin-bottom: 64px;
    padding: 16px 24px;
    border: 2px solid $font_color;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;
}

.thumb {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 28%;
    height: 100%;
    overflow: hidden;

    img {
        width: 100%;
        height: auto;
    }
}

.info {
    width: 70%;
    padding: 16px 24px;
}

.abstruct {
    padding: 16px 0;
}