@import '../../styles/colors.scss';

.normal {
    // padding-top: 60px;
    background-color: $base_color;
}

.titleBase {
    background-color: $base_color;
    padding: 144px 20px 0;

}

.page {
    max-width: 1280px;
    margin: 0 auto;
}