@import '../../styles/colors.scss';

.wrapper {
    display: flex;
    justify-content: space-between;
    height: 180px;
    max-width: 560px;
    min-width: 500px;
    margin: 32px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition: all .3s ease;
    background-color: white;

    // &:hover {
    //     cursor: pointer;

    //     .thumb img {
    //         transform: scale(1.1);
    //         opacity: 0.5;
    //     }
    // }
}

.thumb {
    width: 180px;
    height: 180px;
    overflow: hidden;
    border-radius: 5px 0 0 5px;

    img {
        width: 100%;
        height: auto;
        transition: all .5s ease;
    }
}

.info {
    width: calc(100% - 180px);
    padding: 8px 24px;
}

.tag {
    display: inline-block;
    padding: 0 10px;
    margin-bottom: 5px;
    border-radius: 25px;
    background-color: $main_color;
    color: white;
}

.name {
    padding: 5px;
}

.role {
    padding-bottom: 10px;
}

.role,
.major {
    padding-left: 8px;
}