.post {
    width: 30%;
    margin: 32px 0;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    transition: all .3s ease;

    &:hover {
        cursor: pointer;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);

        .thumb_img {
            transform: scale(1.1);
        }
    }
}

.thumb {
    border-radius: 5px 5px 0 0;
    overflow: hidden;

    &_img {
        transition: all .3s ease;
    }
}

.body {
    padding: 16px 24px;
    background-color: white;
    border-radius: 0 0 5px 5px;
}

.title {
    padding-bottom: 8px;
}

.content {
    padding-bottom: 8px;
}

.date {

}