@import '../../styles/colors.scss';
@import '../../styles/functions.scss';

.catch {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 24px 40px;
    text-align: center;
    border: 1px solid $font_color;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    line-height: 2.3em;

    @include mq_max(md) {
        padding: 16px 24px;
        font-size: 1.8rem;
    }
}

.academyHero {
    height: 500px;
    background-size: 100% auto;
    background-position: center;

    @include mq_max(md) {
        height: 400px;
    }

    @include mq_max(sm) {
        height: 300px;
    }

    &_logo {
        width: 400px;
        margin: 0 auto;
        padding: 20px 40px;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
        backdrop-filter: blur(4px) brightness(110%);

        @include mq_max(sm) {
            width: 250px;
            padding: 16px 24px;
        }
    }

    &_wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        line-height: 2;
    }
}

.overview {
    width: 100%;
    margin: 0 0 0 auto;
    padding: 16px 24px;
    border: 2px solid $font_color;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    background-color: white;

    &_title {
        padding-bottom: 8px;
    }
}

.secTitle {
    margin: 104px 0 40px;
    padding-left: 16px;
    border-left: 15px solid $font_color;
    font-size: 2.3rem;
    font-weight: 700;
}

.keySentence {
    margin: 40px 0;
    padding: 8px 24px;
    background-color: white;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    font-size: 16px;
}

.feelSentence {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 64px;

    &_txt {
        padding-left: 16px;
    }

    &_border {
        flex-grow: 1;
        border-bottom: 1px solid $font_color;
    }
}

.writer {
    text-align: right;
}