@import "./colors.scss";

.contact {

}

.exp {
    padding: 64px 0;
    text-align: center;
}

.select {

}

.form {
    max-width: 640px;
    width: 100%;
    padding-bottom: 168px;
    margin: 0 auto;

    &_txt {
        padding: 16px 0;

        label {
            display: block;
            padding-bottom: 5px;
        }

        input[type="text"],
        textarea {
            width: 100%;
            height: 40px;
            padding: 8px 16px;
            border: none;
            border-radius: 5px;
            transition: all .3s ease;
    
            &:focus {
                outline: none;
                box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1);
                border: 1px solid $main_color;
            }
        }

        textarea {
            height: 200px;
        }

        p {
            padding-bottom: 5px;
        }
    }

    &_radio {
        padding: 20px 0;

        label {
            display: block;
            padding-bottom: 8px;
        }

        input[type="radio"] {
            
        }

        span {
            padding-right: 16px;
            padding-left: 5px;
        }
    }

    &_submit {
        display: block;
        margin: 40px auto 0;
        padding: 16px 64px;
        border: 1px solid $main_color;
        border-radius: 30px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        background-color: white;
        color: $main_color;
        font-size: 1.8rem;
        transition: all .3s ease;

        &:hover {
            cursor: pointer;
            background-color: $main_color;
            color: white;
        }

        &:focus {
            outline: none;
        }
    }
}