@import './colors.scss';
@import './functions.scss';

.hero {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: $main_color_light;

    &_cent {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 50%;
        z-index: 50;
        width: 100%;
    }

    &_logo {
        width: 100%;
        max-width: 550px;
        height: auto;
        margin: 0 auto 30px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);

        @include mq_max(md) {
            width: 80%;
            margin-bottom: 16px;
        }
    }

    &_message {
        padding: 10px 24px;
        border-radius: 10px;
        width: 100%;

        p {
            font-size: 23px;
            text-align: center;
            letter-spacing: 2rem;
            line-height: 2.5;
            color: white;

            @include mq_max(md) {
                font-size: 1.6rem;
                letter-spacing: 1rem;
            }

            span {
                display: inline-block;
                font-size: 30px;

                @include mq_max(md) {
                    font-size: 1.8rem;
                }
            }
        }
    }

    &_profs {
        position: relative;
        width: 100%;
        height: 100vh;
        opacity: 0.9;

        @include mq_max(md) {
            height: 95vh;
        }

        @include mq_max(sm) {
            height: 85vh;
        }

        &_img {
            position: absolute;
            width: 38%;
            max-width: 510px;

            &:first-child {
                top: 5%;
                left: 3%;
            }

            &:nth-child(2) {
                bottom: 5%;
                left: 3%;
            }

            &:nth-child(3) {
                bottom: -5%;
                right: 3%;
            }

            &:last-child {
                top: 2%;
                right: 0%;
            }
        }
    }

    &_offlabel {
        position: absolute;
        z-index: 30;
        position: absolute;
        transform: translate(-50%, -50%);
        top: 90%;
        left: 50%;
        width: 15%;
        max-width: 200px;
    }


    @include mq_max(sm) {
        padding-top: 60px;
    }
}

.about {
    padding: 104px 30px;
    background-color: $base_color;

    &_exp {
        max-width: 640px;
        margin: 0 auto;
        padding: 64px 0 40px;
        line-height: 2.5em;
        font-size: 1.8rem;
        text-align: center;

        @include mq_max(md) {
            font-size: 1.6rem;
        }
    }

    &_logo {
        width: 100%;
        max-width: 150px;
        height: auto;
        margin: 0 auto;
    }

    &_btn {
        display: block;
        max-width: 260px;
        margin: 64px auto 0;
        padding: 16px 24px;
        border: 1px solid $offlabel_color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        color: $offlabel_color;
        background-color: white;
        transition: all .5s ease;

        &:hover {
            cursor: pointer;
            background-color: $offlabel_color;
            color: white;
        }
    }
}

.oshare {
    position: relative;
    padding: 104px 30px;
    background-color: white;

    &_logo {
        width: 100%;
        max-width: 330px;
        margin: 0 auto;
    }

    &_exp {
        padding: 64px 0;
        text-align: center;
        line-height: 2.3;
    }

    &_abstract {
        width: 100%;
        max-width: 640px;
        margin: 0 auto 64px;
        padding: 16px 24px;
        border: 2px solid $font_color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        background-color: white;
        line-height: 2.3;
    }

    &_abstract_2 {
        max-width: none;
        margin-top: 104px;
    }

    &_cont {
        padding-bottom: 42px;
        text-align: center;
    }

    &_links {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_link {
        width: 48%;
        height: 176px;
        border: 2px solid $font_color;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        border-radius: 5px;
        background-size: 100% auto;
        background-position: center;
        transition: all .5s ease;

        @include mq_max(md) {
            width: 100%;
            margin-bottom: 40px;
        }

        &:hover {
            cursor: pointer;
            background-size: 115% auto;
        }

        &_back {
            width: 100%;
            height: 100%;
            padding: 24px 40px;
            border-radius: 3px;
            background-color: rgba(0, 0, 0, 0.4);
        }

        h3 {
            text-align: center;
            color: white;
        }

        p {
            text-align: center;
            color: white;
        }
    }

    &_link_library {
        background-image: url('/images/libraryBack.jpg');
    }

    &_link_ronbun {
        background-image: url('/images/ronbunBack.jpg');
    }

    &_featured {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 40px 0 64px;

        img {
            width: 52px;
        }

        h4 {
            padding: 0 16px;
        }

        p {
            border-bottom: 1px solid $font_color;
            flex-grow: 1;
        }
    }

    &_article {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &_path {
        // display: none;
        position: absolute;
        z-index: 5;
        bottom: -18px;
        left: 50%;
        transform: translateX(-50%);
    
        &_txt {
            font-size: 1.5rem;
            font-weight: 400;
            padding-bottom: 5px;
        }
    
        &_line {
            height: 35px;
            width: 0;
            margin: 0 auto;
            border-left: 0.75px solid $font_color;
        }
    }
}

.news {
    padding: 64px 30px;
    background-color: $main_color_light;

    &_exp {
        max-width: 570px;
        margin: 0 auto;
        padding: 64px 0 32px;
        text-align: center;
    }

    &_cont {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 32px;
    }
}

.events {
    padding: 64px 30px;
    background-color: $base_color;

    &_exp {
        max-width: 570px;
        margin: 0 auto;
        padding: 64px 0 32px;
        text-align: center;
    }

    &_cont {
        padding: 64px 0 16px;
    }

    &_coming {
        text-align: center;
    }
}

.members {
    padding: 64px 30px;
    background-color: white;

    &_exp {
        max-width: 570px;
        margin: 0 auto;
        padding: 64px 0 32px;
        text-align: center;
    }

    &_cont {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 64px 0;
    }

    &_thumb {
        width: 22%;
        margin: 23px 0;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
        overflow: hidden;
    }
}

.reach {
    padding: 64px 0;
    background-color: white;
}

/* ------------- animation css ----------------- */
.heroCentEnter {
    opacity: 0;
}
.heroCentEnterActive {
    opacity: 1;
    transition: all 2500ms ease;
}