.news {
    padding-bottom: 168px;
}

.cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.exp {
    max-width: 580px;
    margin: 0 auto;
    padding: 64px 0 50px;
    text-align: center;
    line-height: 2;
}