.news {
    padding-bottom: 168px;
}

.cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.exp {
    max-width: 580px;
    margin: 0 auto;
    padding: 64px 0 50px;
    text-align: center;
    line-height: 2;
}

.new {
    padding-bottom: 168px;

    &_hero {
        position: relative;
        margin: 64px 0 104px;

        &_info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            padding: 16px 24px;
            background-color: rgba(0, 0, 0, 0.45);
        }

        &_title {
            padding-bottom: 16px;
            color: white;
        }

        &_date {
            color: white;
        }
    }

    &_main {
        max-width: 640px;
        margin: 0 auto;
        line-height: 2.5;
        padding-bottom: 64px;
    }

    &_footer {

    }
}