.title {
    margin-top: -30px;
}

.exp {
    max-width: 680px;
    margin: 0 auto;
    padding: 64px 30px;

    p {
        padding-bottom: 64px;
        line-height: 2;
    }
}

.cont {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1340px;
    margin: 0 auto;
    padding: 64px 30px 168px;

    img {
        width: 32%;
        height: auto;
        margin: 24px 0;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
    }
}